<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recycl.monitoring.db.mybatis.mappers.CollectionRequestMapper">
    <!-- SELECT -->
    <select id="selectCollectionRequest" parameterType="int" resultType="CollectionRequest">
        select *
        from DEMANDE
        where NUM_DMD = #{num_dmd}
    </select>
    <!-- TODO: SELECT propriétés spécifiques dans SQL pour mapper à CollectionRequest plutôt qu'à map -->
    <select id="selectCollectionRequests" resultType="map">
        select *
        from DEMANDE
        where NUM_DMD = #{num_dmd}
    </select>

    <!-- INSERT -->
    <insert id="insertCollectionRequest">
        insert into DEMANDE (NUM_DMD, TRN_RTC, ETR_RTC, DATE_DMD, DATE_ENV, ISVALID)
        values (#{num_dmd},#{trn_rtc},#{etr_rtc},#{date_dmd},#{date_end},#{isvalid})
    </insert>

    <!-- UPDATE -->
    <update id="updateCollectionRequest">
        update DEMANDE set
                            TRN_RTC =  #{trn_rtc},
                            ETR_RTC = #{etr_rtc},
                            DATE_DMD = #{date_dmd},
                            DATE_ENV = #{date_env},
                            ISVALID = #{isvalid}
        where NUM_DMD = #{num_dmd}
    </update>

    <!-- DELETE -->
    <delete id="deleteCollectionRequest">
        delete from DEMANDE where NUM_DMD = #{num_dmd}
    </delete>
</mapper>