<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recycl.monitoring.db.mybatis.mappers.CollectionRequestMapper">
    <!-- SELECT -->
    <select id="selectCollectionRequest" parameterType="int" resultType="CollectionRequest">
        select * from DEMANDE where NUM_DMD = #{NUM_DMD}
    </select>
    <!-- TODO: SELECT propriétés spécifiques dans SQL pour mapper à CollectionRequest plutôt qu'à map -->
    <select id="selectCollectionRequests" resultType="map">
        select *
        from DEMANDE
        where NUM_DMD = #{NUM_DMD}
    </select>

    <!-- INSERT -->

    <!-- UPDATE -->

    <!-- DELETE -->
</mapper>