<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recycl.monitoring.controller.WasteTypeMapper">
    <!-- SELECT -->
    <select id="selectWasteType" parameterType="int" resultType="WasteType">
        select * from TYPEDECHET where NUM_TDC = #{NUM_TDC}
    </select>
    <!-- TODO: SELECT propriétés spécifiques dans SQL pour mapper à CollectionRequest plutôt qu'à map -->
    <select id="selectWasteTypes" resultType="map">
        select *
        from TYPEDECHET
        where NUM_TDC = #{NUM_TDC}
    </select>

    <!-- INSERT -->

    <!-- UPDATE -->

    <!-- DELETE -->
</mapper>